@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";
.footer {
  margin-top: 10%;
}

.footer .content {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  @include device (mobile) {
    display: grid;
   }
}

.content .left {
  flex: 1;
}

.left p{
    font-size: 18px;
}

.content .right {
  flex: 1;
  align-items: center;
  margin-left: 25%;
  @include device (mobile) {
   justify-content: center;
   align-items: center;
   padding-top: 10%;
   margin: 0 auto;
  }
   
}

.right img {
  margin: 10px;
  @include device (mobile) {
   margin: 5px;
   }
}

.left p {
  text-align: center;
}

.footer .copyright {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px -12px 28px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px -12px 28px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px -12px 28px -8px rgba(0, 0, 0, 0.42);
}

.copyright h4 {
  font-weight: normal;
  color: grey;
  font-size: 18px;

  @include device (mobile) {
    text-align: center;
    font-size: 15px;
   }
}
